# Feature Selection
- Univariate Feature Selection
3. **freq_log**

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif

In [3]:
fulldf_freq_log = pd.read_csv("../../../../csv_files/train/full_train/full_train_combinations/fulldf_freq_log.csv", index_col="Unnamed: 0")

In [4]:
testdf_freq_log = pd.read_csv("../../../../csv_files/test/full_test/full_test_combinations/testdf_freq_log.csv", index_col="Unnamed: 0")

In [5]:
feature_train = fulldf_freq_log.columns.drop(['target', 'id'])

# Keep 10 features
selector = SelectKBest(f_classif, k=10)

X_train = selector.fit_transform(fulldf_freq_log[feature_train], fulldf_freq_log['target'])

X_train

array([[0.45774   , 0.99124333, 0.45050333, ..., 0.24796984, 0.63186848,
        0.63000406],
       [0.54226   , 0.99124333, 0.49736   , ..., 0.24869745, 0.36465054,
        0.2826786 ],
       [0.54226   , 0.99124333, 0.45050333, ..., 0.25754982, 0.64927612,
        0.62547444],
       ...,
       [0.45774   , 0.99124333, 0.49736   , ..., 0.26036672, 0.37120603,
        0.22337262],
       [0.45774   , 0.99124333, 0.49736   , ..., 0.56454165, 0.30978344,
        0.26535621],
       [0.54226   , 0.99124333, 0.45050333, ..., 0.52830003, 0.55084162,
        0.53816899]])

In [6]:
feature_test = testdf_freq_log.columns.drop("id")
X_test = selector.transform(testdf_freq_log[feature_test])
X_test

array([[0.459765  , 0.991415  , 0.448975  , ..., 0.53161563, 0.46719183,
        0.50298746],
       [0.459765  , 0.991415  , 0.448975  , ..., 0.24488925, 0.39173965,
        0.27648833],
       [0.459765  , 0.991415  , 0.448975  , ..., 0.24647553, 0.5166454 ,
        0.28786069],
       ...,
       [0.540235  , 0.991415  , 0.448975  , ..., 0.41680241, 0.35971941,
        0.55938125],
       [0.459765  , 0.991415  , 0.448975  , ..., 0.24619799, 0.60852151,
        0.66121231],
       [0.459765  , 0.991415  , 0.039725  , ..., 0.5671564 , 0.5834791 ,
        0.54320662]])

In [7]:
# Get back the features we've kept, zero out all other features
selected_features_train = pd.DataFrame(selector.inverse_transform(X_train), 
                                 index=fulldf_freq_log.index, 
                                 columns=feature_train)
selected_features_train

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont3_log,cont4_log,cont5_log,cont6_log,cont7_log,cont8_log,cont9_log,cont10_log,cont11_log,cont12_log
0,0.0,0.45774,0.0,0.0,0.991243,0.450503,0.0,0.0,0.403513,0.166880,...,0.197117,0.247970,0.631868,0.0,0.0,0.0,0.0,0.0,0.0,0.630004
1,0.0,0.54226,0.0,0.0,0.991243,0.497360,0.0,0.0,0.126260,0.357603,...,0.613090,0.248697,0.364651,0.0,0.0,0.0,0.0,0.0,0.0,0.282679
2,0.0,0.54226,0.0,0.0,0.991243,0.450503,0.0,0.0,0.403513,0.013707,...,0.594978,0.257550,0.649276,0.0,0.0,0.0,0.0,0.0,0.0,0.625474
3,0.0,0.54226,0.0,0.0,0.991243,0.450503,0.0,0.0,0.140650,0.069850,...,0.549792,0.570858,0.659662,0.0,0.0,0.0,0.0,0.0,0.0,0.593216
4,0.0,0.45774,0.0,0.0,0.991243,0.497360,0.0,0.0,0.403513,0.357603,...,0.303200,0.246161,0.323966,0.0,0.0,0.0,0.0,0.0,0.0,0.295246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299878,0.0,0.45774,0.0,0.0,0.991243,0.497360,0.0,0.0,0.315387,0.140667,...,0.366582,0.570102,0.238685,0.0,0.0,0.0,0.0,0.0,0.0,0.194931
299879,0.0,0.45774,0.0,0.0,0.991243,0.497360,0.0,0.0,0.315387,0.140667,...,0.177067,0.574336,0.179995,0.0,0.0,0.0,0.0,0.0,0.0,0.267683
299880,0.0,0.45774,0.0,0.0,0.991243,0.497360,0.0,0.0,0.403513,0.032793,...,0.349317,0.260367,0.371206,0.0,0.0,0.0,0.0,0.0,0.0,0.223373
299881,0.0,0.45774,0.0,0.0,0.991243,0.497360,0.0,0.0,0.315387,0.357603,...,0.171596,0.564542,0.309783,0.0,0.0,0.0,0.0,0.0,0.0,0.265356
299882,0.0,0.54226,0.0,0.0,0.991243,0.450503,0.0,0.0,0.403513,0.069850,...,0.335135,0.528300,0.550842,0.0,0.0,0.0,0.0,0.0,0.0,0.538169

In [8]:
# Get back the features we've kept, zero out all other features
selected_features_test = pd.DataFrame(selector.inverse_transform(X_test), 
                                 index=testdf_freq_log.index, 
                                 columns=feature_test)
selected_features_test

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont3_log,cont4_log,cont5_log,cont6_log,cont7_log,cont8_log,cont9_log,cont10_log,cont11_log,cont12_log
0,0.0,0.459765,0.0,0.0,0.991415,0.448975,0.0,0.0,0.314795,0.035390,...,0.145016,0.531616,0.467192,0.0,0.0,0.0,0.0,0.0,0.0,0.502987
1,0.0,0.459765,0.0,0.0,0.991415,0.448975,0.0,0.0,0.403705,0.140290,...,0.171800,0.244889,0.391740,0.0,0.0,0.0,0.0,0.0,0.0,0.276488
2,0.0,0.459765,0.0,0.0,0.991415,0.448975,0.0,0.0,0.403705,0.358115,...,0.182215,0.246476,0.516645,0.0,0.0,0.0,0.0,0.0,0.0,0.287861
3,0.0,0.540235,0.0,0.0,0.991415,0.448975,0.0,0.0,0.314795,0.358115,...,0.176310,0.391706,0.565243,0.0,0.0,0.0,0.0,0.0,0.0,0.463155
4,0.0,0.459765,0.0,0.0,0.991415,0.498310,0.0,0.0,0.314795,0.165955,...,0.175409,0.564089,0.190812,0.0,0.0,0.0,0.0,0.0,0.0,0.251428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,0.0,0.540235,0.0,0.0,0.991415,0.448975,0.0,0.0,0.139845,0.140290,...,0.166662,0.244800,0.674819,0.0,0.0,0.0,0.0,0.0,0.0,0.623193
199996,0.0,0.540235,0.0,0.0,0.991415,0.448975,0.0,0.0,0.314795,0.358115,...,0.289818,0.420796,0.208698,0.0,0.0,0.0,0.0,0.0,0.0,0.509439
199997,0.0,0.540235,0.0,0.0,0.991415,0.448975,0.0,0.0,0.403705,0.069420,...,0.344573,0.416802,0.359719,0.0,0.0,0.0,0.0,0.0,0.0,0.559381
199998,0.0,0.459765,0.0,0.0,0.991415,0.448975,0.0,0.0,0.403705,0.358115,...,0.622027,0.246198,0.608522,0.0,0.0,0.0,0.0,0.0,0.0,0.661212
199999,0.0,0.459765,0.0,0.0,0.991415,0.039725,0.0,0.0,0.139845,0.082190,...,0.561606,0.567156,0.583479,0.0,0.0,0.0,0.0,0.0,0.0,0.543207

In [9]:
# Dropped columns have values of all 0s, so var is 0, drop them
selected_columns_train = selected_features_train.columns[selected_features_train.var() != 0]

# Get the valid dataset with the selected features.
train_freq_log = fulldf_freq_log[selected_columns_train]
train_freq_log

,cat1,cat4,cat5,cat8,cat9,cont2_log,cont3_log,cont4_log,cont5_log,cont12_log
0,0.45774,0.991243,0.450503,0.403513,0.166880,0.117297,0.197117,0.247970,0.631868,0.630004
1,0.54226,0.991243,0.497360,0.126260,0.357603,0.305599,0.613090,0.248697,0.364651,0.282679
2,0.54226,0.991243,0.450503,0.403513,0.013707,0.374761,0.594978,0.257550,0.649276,0.625474
3,0.54226,0.991243,0.450503,0.140650,0.069850,0.143005,0.549792,0.570858,0.659662,0.593216
4,0.45774,0.991243,0.497360,0.403513,0.357603,0.402937,0.303200,0.246161,0.323966,0.295246
...,...,...,...,...,...,...,...,...,...,...
299878,0.45774,0.991243,0.497360,0.315387,0.140667,0.149851,0.366582,0.570102,0.238685,0.194931
299879,0.45774,0.991243,0.497360,0.315387,0.140667,0.465314,0.177067,0.574336,0.179995,0.267683
299880,0.45774,0.991243,0.497360,0.403513,0.032793,0.380483,0.349317,0.260367,0.371206,0.223373
299881,0.45774,0.991243,0.497360,0.315387,0.357603,0.507335,0.171596,0.564542,0.309783,0.265356
299882,0.54226,0.991243,0.450503,0.403513,0.069850,0.561769,0.335135,0.528300,0.550842,0.538169

In [10]:
# Dropped columns have values of all 0s, so var is 0, drop them
selected_columns_test = selected_features_test.columns[selected_features_test.var() != 0]

# Get the valid dataset with the selected features.
test_freq_log = testdf_freq_log[selected_columns_test]
test_freq_log

,cat1,cat4,cat5,cat8,cat9,cont2_log,cont3_log,cont4_log,cont5_log,cont12_log
0,0.459765,0.991415,0.448975,0.314795,0.035390,0.396279,0.145016,0.531616,0.467192,0.502987
1,0.459765,0.991415,0.448975,0.403705,0.140290,0.259940,0.171800,0.244889,0.391740,0.276488
2,0.459765,0.991415,0.448975,0.403705,0.358115,0.565805,0.182215,0.246476,0.516645,0.287861
3,0.540235,0.991415,0.448975,0.314795,0.358115,0.539871,0.176310,0.391706,0.565243,0.463155
4,0.459765,0.991415,0.498310,0.314795,0.165955,0.274042,0.175409,0.564089,0.190812,0.251428
...,...,...,...,...,...,...,...,...,...,...
199995,0.540235,0.991415,0.448975,0.139845,0.140290,0.181974,0.166662,0.244800,0.674819,0.623193
199996,0.540235,0.991415,0.448975,0.314795,0.358115,0.384599,0.289818,0.420796,0.208698,0.509439
199997,0.540235,0.991415,0.448975,0.403705,0.069420,0.369004,0.344573,0.416802,0.359719,0.559381
199998,0.459765,0.991415,0.448975,0.403705,0.358115,0.176475,0.622027,0.246198,0.608522,0.661212
199999,0.459765,0.991415,0.039725,0.139845,0.082190,0.132158,0.561606,0.567156,0.583479,0.543207

In [11]:
target = fulldf_freq_log[["id", "target"]]

In [12]:
i_d = pd.DataFrame(testdf_freq_log["id"])

In [13]:
train_freq_log = pd.merge(train_freq_log, target, left_index=True, right_index=True)
train_freq_log

,cat1,cat4,cat5,cat8,cat9,cont2_log,cont3_log,cont4_log,cont5_log,cont12_log,id,target
0,0.45774,0.991243,0.450503,0.403513,0.166880,0.117297,0.197117,0.247970,0.631868,0.630004,1,6.994023
1,0.54226,0.991243,0.497360,0.126260,0.357603,0.305599,0.613090,0.248697,0.364651,0.282679,2,8.071256
2,0.54226,0.991243,0.450503,0.403513,0.013707,0.374761,0.594978,0.257550,0.649276,0.625474,3,5.760456
3,0.54226,0.991243,0.450503,0.140650,0.069850,0.143005,0.549792,0.570858,0.659662,0.593216,4,7.806457
4,0.45774,0.991243,0.497360,0.403513,0.357603,0.402937,0.303200,0.246161,0.323966,0.295246,6,6.868974
...,...,...,...,...,...,...,...,...,...,...,...,...
299878,0.45774,0.991243,0.497360,0.315387,0.140667,0.149851,0.366582,0.570102,0.238685,0.194931,499993,8.343538
299879,0.45774,0.991243,0.497360,0.315387,0.140667,0.465314,0.177067,0.574336,0.179995,0.267683,499996,7.851861
299880,0.45774,0.991243,0.497360,0.403513,0.032793,0.380483,0.349317,0.260367,0.371206,0.223373,499997,7.600558
299881,0.45774,0.991243,0.497360,0.315387,0.357603,0.507335,0.171596,0.564542,0.309783,0.265356,499998,8.272095
299882,0.54226,0.991243,0.450503,0.403513,0.069850,0.561769,0.335135,0.528300,0.550842,0.538169,499999,6.025685

In [14]:
test_freq_log = pd.merge(test_freq_log, i_d, left_index=True, right_index=True)
test_freq_log

,cat1,cat4,cat5,cat8,cat9,cont2_log,cont3_log,cont4_log,cont5_log,cont12_log,id
0,0.459765,0.991415,0.448975,0.314795,0.035390,0.396279,0.145016,0.531616,0.467192,0.502987,0
1,0.459765,0.991415,0.448975,0.403705,0.140290,0.259940,0.171800,0.244889,0.391740,0.276488,5
2,0.459765,0.991415,0.448975,0.403705,0.358115,0.565805,0.182215,0.246476,0.516645,0.287861,15
3,0.540235,0.991415,0.448975,0.314795,0.358115,0.539871,0.176310,0.391706,0.565243,0.463155,16
4,0.459765,0.991415,0.498310,0.314795,0.165955,0.274042,0.175409,0.564089,0.190812,0.251428,17
...,...,...,...,...,...,...,...,...,...,...,...
199995,0.540235,0.991415,0.448975,0.139845,0.140290,0.181974,0.166662,0.244800,0.674819,0.623193,499987
199996,0.540235,0.991415,0.448975,0.314795,0.358115,0.384599,0.289818,0.420796,0.208698,0.509439,499990
199997,0.540235,0.991415,0.448975,0.403705,0.069420,0.369004,0.344573,0.416802,0.359719,0.559381,499991
199998,0.459765,0.991415,0.448975,0.403705,0.358115,0.176475,0.622027,0.246198,0.608522,0.661212,499994
199999,0.459765,0.991415,0.039725,0.139845,0.082190,0.132158,0.561606,0.567156,0.583479,0.543207,499995

In [15]:
train_freq_log.to_csv("train_freq_log.csv")

In [16]:
test_freq_log.to_csv("test_freq_log.csv")