# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [1]:
import pandas as pd

df = pd.read_csv('../datasets/fish.csv')

# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [2]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

scaler = StandardScaler()
kmeans = KMeans(n_clusters=4)
pipeline = make_pipeline(scaler, kmeans)

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [8]:
samples = df.values
pipeline.fit(samples)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kmeans', KMeans(n_clusters=4))])

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [9]:
labels = pipeline.predict(samples)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [11]:
df = pd.DataFrame({'labels':labels, 'species':species})
df

    labels species
0        0   Bream
1        1   Bream
2        1   Bream
3        1   Bream
4        1   Bream
..     ...     ...
80       2    Pike
81       2    Pike
82       2    Pike
83       2    Pike
84       2    Pike

[85 rows x 2 columns]

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [12]:
ct = pd.crosstab(df['labels'], df['species'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [13]:
ct

species  Bream  Pike  Roach  Smelt
labels
0            1     0     19      1
1           33     0      1      0
2            0    17      0      0
3            0     0      0     13