In [1]:
import pandas as pd
import numpy as np

### Load csv's:

In [2]:
path = '../../d4/datasets/'

In [3]:
item_categories = pd.read_csv(path + "item_categories-translated.csv")
item_categories_russian = pd.read_csv(path + "item_categories.csv")

# Exercise 1

Extract main category, subcategory and subsubcategory of the `item_category_name` column (`item_categories.csv` table)

In [4]:
item_categories

   item_category_id,item_category_name_translated
0                    0,PC - Headsets / Headphones
1                             1,Accessories - PS2
2                             2,Accessories - PS3
3                             3,Accessories - PS4
4                             4,Accessories - PSP
..                                            ...
79                                      79,Office
80                          80,Official - Tickets
81                      81,Clean carriers (spire)
82                         82,Clean media (piece)
83                          83,Elements of a food

[84 rows x 1 columns]

In [5]:
item_categories = item_categories["item_category_id,item_category_name_translated"].str.split(',', 1, expand=True)
item_categories.columns = ["item_category_id", "item_category_name"]

In [6]:
# translate some values from russian to english for consistency:
item_categories["item_category_name"] = item_categories["item_category_name"].replace('Книги - Путеводители', 'Books - Guides')

# Correct translations:
item_categories["item_category_name"] = item_categories["item_category_name"].replace('Clean carriers (spire)', 'Blank media (pin)')
item_categories["item_category_name"] = item_categories["item_category_name"].replace('Clean media (piece)', 'Blank media (piece)')

In [7]:
item_categories["item_category_name"] = item_categories["item_category_name"].str.strip()
item_categories["item_category_name"] = item_categories["item_category_name"].str.strip('"')

In [8]:
item_categories["item_category_name"].unique()

array(['PC - Headsets / Headphones', 'Accessories - PS2',
       'Accessories - PS3', 'Accessories - PS4', 'Accessories - PSP',
       'Accessories - PSVita', 'Accessories - XBOX 360',
       'Accessories - XBOX ONE', 'Tickets (figure)', 'Delivery of goods',
       'Game Consoles - PS2', 'Game Consoles - PS3',
       'Game Consoles - PS4', 'Game Consoles - PSP',
       'Game Consoles - PSVita', 'Game Consoles - XBOX 360',
       'Game Consoles - XBOX ONE', 'Game Consoles - Other', 'Games - PS2',
       'Games - PS3', 'Games - PS4', 'Games - PSP', 'Games - PSVita',
       'Games - XBOX 360', 'Games - XBOX ONE',
       'Games - Accessories for games', 'Android games - Digit',
       'MAC Games - Digit', 'PC Games - Additional Edition',
       "PC Games - Collector's Edition", 'PC Games - Standard Edition',
       'PC Games - Digit', 'Payment cards (Movies, Music, Games)',
       'Payment cards - Live!', 'Payment cards - Live! (Numeral)',
       'Payment cards - PSN', 'Payment Cards - Windows (Digital)',
       'Cinema - Blu-Ray', 'Cinema - Blu-Ray 3D', 'Cinema - Blu-Ray 4K',
       'Cinema - DVD', "Cinema - Collector's",
       'Books - Artbook, encyclopedia', 'Books - Audiobooks',
       'Books - Audiobooks (Numbers)', 'Books - Audiobooks 1C',
       'Books - Business Literature', 'Books - Comics, manga',
       'Books - Computer Literature', 'Books - Methodical materials 1С',
       'Books - Postcards', 'Books - Cognitive Literature',
       'Books - Guides', 'Books - Fiction', 'Books - Number',
       'Music - CD of local production',
       'Music - CD of branded production', 'Music - MP3', 'Music - Vinyl',
       'Music - Musical video', 'Music - Gift edition',
       'Gifts - Attributes', 'Gifts - Gadgets, robots, sports',
       'Gifts - Soft toys', 'Gifts - Board Games',
       'Gifts - Board games (compact)', 'Gifts - Postcards, stickers',
       'Gifts - Development', 'Gifts - Certificates, services',
       'Gifts - Souvenirs', 'Gifts - Souvenirs (per sample)',
       'Gifts - Bags, Albums, Mouse pads', 'Gifts - Figures',
       'Programs - 1C: Enterprise 8', 'Programs - MAC (Number)',
       'Programs - Home and Office',
       'Programs - Home and Office (Figure)', 'Programs - Teaching',
       'Programs - Teaching (Numbers)', 'Office', 'Official - Tickets',
       'Blank media (pin)', 'Blank media (piece)', 'Elements of a food'],
      dtype=object)

In [9]:
item_categories["item_type"] = np.nan
item_categories["item_type"] = item_categories["item_category_name"].str.partition('-')
item_categories["jnn"] = item_categories["item_category_name"].str.split('-', 1)
hoo = []
for thingy in item_categories["jnn"]:
    hoo.append(thingy[-1].strip())
item_categories["item_specified"] = hoo
item_categories = item_categories.drop(["jnn"], axis=1)
item_categories['item_specified'] = np.where(item_categories.item_type == item_categories.item_specified, np.nan, item_categories.item_specified)

In [10]:
item_categories["item_type"].unique()

array(['PC ', 'Accessories ', 'Tickets (figure)', 'Delivery of goods',
       'Game Consoles ', 'Games ', 'Android games ', 'MAC Games ',
       'PC Games ', 'Payment cards (Movies, Music, Games)',
       'Payment cards ', 'Payment Cards ', 'Cinema ', 'Books ', 'Music ',
       'Gifts ', 'Programs ', 'Office', 'Official ', 'Blank media (pin)',
       'Blank media (piece)', 'Elements of a food'], dtype=object)

In [11]:
item_categories["item_type"] = item_categories["item_type"].str.strip()

In [12]:
item_categories["item_type"].unique()

array(['PC', 'Accessories', 'Tickets (figure)', 'Delivery of goods',
       'Game Consoles', 'Games', 'Android games', 'MAC Games', 'PC Games',
       'Payment cards (Movies, Music, Games)', 'Payment cards',
       'Payment Cards', 'Cinema', 'Books', 'Music', 'Gifts', 'Programs',
       'Office', 'Official', 'Blank media (pin)', 'Blank media (piece)',
       'Elements of a food'], dtype=object)

In [13]:
item_categories["Branch of specification"] = item_categories["item_specified"]

In [14]:
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['PS2', 'PS2', 'PS3', 'PS4', 'PSP', 'PSVita', 'PSN'],'PS')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['XBOX 360', 'XBOX ONE'],'XBOX')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['Blu-Ray', 'Blu-Ray 3D','Blu-Ray 4K'],'Blu-Ray')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['CD of local production', 'CD of branded production'],'CD')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['Audiobooks', 'Audiobooks (Numbers)', 'Audiobooks 1C'],'Audiobooks')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['Business Literature', 'Computer Literature', 'Cognitive Literature'],'Literature')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['Accessories for games', 'Board Games', 'Board games (compact)'],'Games')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(["Collectors", "Collectors Edition"],'Collectors')
item_categories["Branch of specification"] = item_categories["Branch of specification"].replace(['Headsets / Headphones', 'nan', 'Other', 'Digit', 'Additional Edition', 'Standard Edition',
          'Live!', 'Live! (Numeral)', 'Windows (Digital)', 'DVD', 'Artbook, encyclopedia', 'Comics, manga',
          'Methodical materials 1С', 'Postcards','Guides', 'Fiction', 'Number', 'MP3', 'Vinyl',
          'Musical video', 'Gift edition', 'Attributes', 'Gadgets, robots, sports', 'Soft toys',
          'Postcards, stickers', 'Development', 'Certificates, services', 'Souvenirs', 'Souvenirs (per sample)',
          'Bags, Albums, Mouse pads', 'Figures', '1C: Enterprise 8', 'MAC (Number)', 'Home and Office',
          'Home and Office (Figure)', 'Teaching', 'Teaching (Numbers)', 'Tickets'], np.nan)

In [15]:
item_categories

,item_category_id,item_category_name,item_type,item_specified,Branch of specification
0,0,PC - Headsets / Headphones,PC,Headsets / Headphones,NaN
1,1,Accessories - PS2,Accessories,PS2,PS
2,2,Accessories - PS3,Accessories,PS3,PS
3,3,Accessories - PS4,Accessories,PS4,PS
4,4,Accessories - PSP,Accessories,PSP,PS
...,...,...,...,...,...
79,79,Office,Office,NaN,NaN
80,80,Official - Tickets,Official,Tickets,NaN
81,81,Blank media (pin),Blank media (pin),NaN,NaN
82,82,Blank media (piece),Blank media (piece),NaN,NaN
83,83,Elements of a food,Elements of a food,NaN,NaN

In [16]:
item_categories["Branch of specification"].unique()

array([nan, 'PS', 'XBOX', 'Games', "Collector's Edition", 'Blu-Ray',
       "Collector's", 'Audiobooks', 'Literature', 'CD'], dtype=object)

# Exercise 2

Apply:

- `CountVectorizer` (1gram)
- `CountVectorizer` (1gram + 2grams)
- `TfidfVectorizer` (1gram)
- `TfidfVectorizer` (1gram + 2grams)

to the `item_name` column (`items.csv` table).

In [17]:
items = pd.read_csv(path + "items-translated.csv")
items

       item_id                               item_name_translated
0            0             !! IN THE POWER OF HAPPINESS (PLAST) D
1            1  ! ABBYY FineReader 12 Professional Edition Ful...
2            2              *** IN THE GLORY OF THE GLORY (UNV) D
3            3                             *** BLUE WAVE (Univ) D
4            4                                  *** BOX (GLASS) D
...        ...                                                ...
22165    22165             Nuclear Titbit 2 [PC, Digital Version]
22166    22166    Query language 1C: Enterprise [Digital version]
22167    22167  The query language is 1C: Enterprise 8 (+ CD)....
22168    22168                                 Egg for Little Inu
22169    22169                Egg of the Dragon (Game of Thrones)

[22170 rows x 2 columns]

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
texts = items["item_name_translated"].values
len(texts)

22170

In [20]:
item_ids = items["item_id"].values
len(item_ids)

22170

### Bag Of Words (BOW) + 1gram

In [21]:
bow = CountVectorizer(ngram_range=(1, 1))
texts_bow_1gram = bow.fit_transform(items["item_name_translated"])
tokens = tokens = bow.vocabulary_.keys()
BOW_1gram = pd.DataFrame(data=texts_bow_1gram.toarray(), index=item_ids, columns=tokens)
BOW_1gram

,in,the,power,of,happiness,plast,abbyy,finereader,12,professional,...,also,franknstein,poisons,yalta,yama,yankovsky,yaroslav,furnish,titbit,query
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero:

In [22]:
BOW_1gram["power"].to_numpy().nonzero()

(array([7887, 7893, 7894, 7895, 7900, 7936]),)

- Here we can check the non-zero value of the 7887th row in the "power" column (column 3):

In [23]:
BOW_1gram.iloc[7887, 2]

1

- Here, we print the texts_bow variable, which was derived from the fit_transform of BoW CountVectorizer.
It prints the array as (row, column) and the value of that (row, column) that has a value (or weight), which is later made into an array (and then dataframe) with other missing values as zero:

In [24]:
print(texts_bow_1gram[0])  # only printing first column so can see general idea

  (0, 6485)	1
  (0, 12479)	1
  (0, 9869)	1
  (0, 9054)	1
  (0, 5998)	1
  (0, 9695)	1

- Here, we can check the value of one of the (row, column)'s we found:

In [25]:
BOW_1gram.iloc[0, 6485]

1

### Bag Of Words (BOW) + (1gram + 2grams)

In [26]:
bow = CountVectorizer(ngram_range=(1, 2), dtype=np.int8)
texts_bow_1gram2gram = bow.fit_transform(items["item_name_translated"])
tokens = bow.vocabulary_.keys()
BOW_1gram_plus_2grams = pd.DataFrame(data=texts_bow_1gram2gram.toarray(), index=item_ids, columns=tokens)
BOW_1gram_plus_2grams

,in,the,power,of,happiness,plast,in the,the power,power of,of happiness,...,titbit pc,query,query language,language 1c,the query,language is,is 1c,egg for,egg of,dragon game
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero:

In [27]:
BOW_1gram_plus_2grams["power"].to_numpy().nonzero()

(array([   34,   198,  5267,  7745,  7746,  7747,  7748,  7749,  7750,
         7751,  7752,  7753,  7754,  7755,  7756,  7757,  7758,  7759,
         7760,  7761,  7762,  7763,  7764,  7765,  7766,  7767,  7768,
         7769,  7770,  7771,  7772,  7773,  7774,  7775,  7776, 13153]),)

- Here we can check the non-zero value of the 34th row in the "power" column (column 3):

In [28]:
BOW_1gram_plus_2grams.iloc[34, 2]

1

- Here, we print the texts_bow variable, which was derived from the fit_transform of BoW CountVectorizer.
It prints the array as (row, column) and the value of that (row, column) that has a value (or weight), which is later made into an array (and then dataframe) with other missing values as zero:

In [29]:
print(texts_bow_1gram2gram[0])  # only printing first column so can see general idea

  (0, 27748)	1
  (0, 53783)	1
  (0, 43121)	1
  (0, 38445)	1
  (0, 25629)	1
  (0, 42451)	1
  (0, 27973)	1
  (0, 54748)	1
  (0, 43130)	1
  (0, 38924)	1
  (0, 25633)	1

- Here, we can check the value of one of the (row, column)'s we found:

In [30]:
BOW_1gram_plus_2grams.iloc[0, 27748]

1

### Bag Of Words (BOW) + (1gram + 2grams) with min_df

In [31]:
bow = CountVectorizer(ngram_range=(1, 2), min_df=2, dtype=np.int8)
texts_bow_1gram2gram = bow.fit_transform(items["item_name_translated"])
tokens = bow.vocabulary_.keys()
BOW_1gram_plus_2grams = pd.DataFrame(data=texts_bow_1gram2gram.toarray(), index=item_ids, columns=tokens)
BOW_1gram_plus_2grams

,in,the,power,of,happiness,in the,the power,power of,of happiness,abbyy,...,franknstein,legend wb,fourth wd,scene 2012,poisons,poisons or,or world,of poisoning,query,query language
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

- with min_df set as 2, it will only allocate a value to those features (words) that occur 2 or more times. This reduces the number of columns from 63885 to 21299. This is useful for dimensionality reduction and to escape the dimentionality curse!

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero:

In [32]:
BOW_1gram_plus_2grams["power"].to_numpy().nonzero()

(array([7771, 7772, 7773, 7774, 7775, 7776]),)

- Here we can check the non-zero value of the 7771th row in the "power" column (column 3):

In [33]:
BOW_1gram_plus_2grams.iloc[7771, 2]

1

- We could also add the parameter max_df, which would also reduce the dimentions. This may be useful for ignoring words that are very common, but don't add any meaning to the text, for example "a".
- Let's try:

##### Bag Of Words (BOW) + (1gram + 2grams) with max_df

In [34]:
bow = CountVectorizer(ngram_range=(1, 2), max_df=4, dtype=np.int8)
texts_bow_1gram2gram = bow.fit_transform(items["item_name_translated"])
tokens = bow.vocabulary_.keys()
BOW_1gram_plus_2grams = pd.DataFrame(data=texts_bow_1gram2gram.toarray(), index=item_ids, columns=tokens)
BOW_1gram_plus_2grams

,plast,the power,of happiness,happiness plast,full pc,unv,the glory,glory of,glory unv,univ,...,titbit pc,query,query language,language 1c,the query,language is,is 1c,egg for,egg of,dragon game
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

- with max_df set as 4, it will only allocate a value to those features (words) that occur less than 4 times. This reduces the number of columns from 63885 to 57333. This is useful for dimensionality reduction and to escape the dimentionality curse!

- Here, we see that our beloved "power" column is no longer part of the dataframe :(
So this time, we will check "the power" instead:

##### Check for non-zeros:
- Here is showing an array of the rows in the "the power" column that contain a non-zero:

In [35]:
BOW_1gram_plus_2grams["the power"].to_numpy().nonzero()

(array([10775]),)

- Here we can check the non-zero value of the 10775th row in the "the power" column (column 2):

In [36]:
BOW_1gram_plus_2grams.iloc[10775, 1]

1

### TfidfVectorizer + (1gram)

In [37]:
tfidf = TfidfVectorizer(ngram_range=(1, 1), dtype=np.float64)
texts_tfidf_1gram = tfidf.fit_transform(items["item_name_translated"])
tokens = tfidf.vocabulary_.keys()
TfidfVectorizer_1gram = pd.DataFrame(data=texts_tfidf_1gram.toarray(), columns=tokens)
TfidfVectorizer_1gram

,in,the,power,of,happiness,plast,abbyy,finereader,12,professional,...,also,franknstein,poisons,yalta,yama,yankovsky,yaroslav,furnish,titbit,query
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero:

In [38]:
TfidfVectorizer_1gram["power"].to_numpy().nonzero()

(array([7887, 7893, 7894, 7895, 7900, 7936]),)

- Here we can check the non-zero value of the 7887th row in the "power" column (column 3):

In [39]:
TfidfVectorizer_1gram.iloc[7887, 2]

0.33829922480500396

- Here, we print the texts_tfidf variable, which was derived from the fit_transform of BoW CountVectorizer.
It prints the array as (row, column) and the value of that (row, column) that has a value (or weight), which is later made into an array (and then dataframe) with other missing values as zero:

In [40]:
print(texts_tfidf_1gram[0])  # only printing first column so can see general idea

  (0, 9695)	0.6320326370085583
  (0, 5998)	0.5173235359607454
  (0, 9054)	0.16927547811615754
  (0, 9869)	0.45662922412592727
  (0, 12479)	0.16665925953793656
  (0, 6485)	0.26071317628774726

- Here, we can check the value of one of the (row, column)'s we found:

In [41]:
TfidfVectorizer_1gram.iloc[0, 9695]

0.6320326370085583

### TfidfVectorizer (1gram + 2grams)

In [42]:
tfidf = TfidfVectorizer(ngram_range=(1, 2), dtype=np.float32)
texts_tfidf_1gram2grams = tfidf.fit_transform(items["item_name_translated"])
tokens = tfidf.vocabulary_.keys()
TfidfVectorizer_1gram2grams = pd.DataFrame(data=texts_tfidf_1gram2grams.toarray(), columns=tokens)
TfidfVectorizer_1gram2grams

,in,the,power,of,happiness,plast,in the,the power,power of,of happiness,...,titbit pc,query,query language,language 1c,the query,language is,is 1c,egg for,egg of,dragon game
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero:

In [43]:
TfidfVectorizer_1gram2grams["power"].to_numpy().nonzero()

(array([   34,   198,  5267,  7745,  7746,  7747,  7748,  7749,  7750,
         7751,  7752,  7753,  7754,  7755,  7756,  7757,  7758,  7759,
         7760,  7761,  7762,  7763,  7764,  7765,  7766,  7767,  7768,
         7769,  7770,  7771,  7772,  7773,  7774,  7775,  7776, 13153]),)

- Here we can check the non-zero value of the 34th row in the "power" column (column 3):

In [44]:
TfidfVectorizer_1gram2grams.iloc[34, 2]

0.2487

- Here, we print the texts_tfidf variable, which was derived from the fit_transform of BoW CountVectorizer.
It prints the array as (row, column) and the value of that (row, column) that has a value (or weight), which is later made into an array (and then dataframe) with other missing values as zero:

In [45]:
print(texts_tfidf_1gram2grams[0])  # only printing first column so can see general idea

  (0, 25633)	0.39858654
  (0, 38924)	0.38291633
  (0, 43130)	0.34045774
  (0, 54748)	0.37179813
  (0, 27973)	0.20651582
  (0, 42451)	0.39858654
  (0, 25629)	0.3262461
  (0, 38445)	0.106752284
  (0, 43121)	0.2879697
  (0, 53783)	0.105102375
  (0, 27748)	0.16441676

- Here, we can check the value of one of the (row, column)'s we found:

In [46]:
TfidfVectorizer_1gram2grams.iloc[0, 25633]

0.39858654

### TfidfVectorizer (1gram + 2grams) with min_df

In [47]:
tfidf = TfidfVectorizer(ngram_range=(1, 2), min_df=2, dtype=np.float32)
texts_tfidf_1gram2grams = tfidf.fit_transform(items["item_name_translated"])
tokens = tfidf.vocabulary_.keys()
TfidfVectorizer_1gram2grams = pd.DataFrame(data=texts_tfidf_1gram2grams.toarray(), columns=tokens)
TfidfVectorizer_1gram2grams

,in,the,power,of,happiness,in the,the power,power of,of happiness,abbyy,...,franknstein,legend wb,fourth wd,scene 2012,poisons,poisons or,or world,of poisoning,query,query language
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- with min_df set as 2, it will only allocate a value to those features (words) that occur 2 times or more. This reduces the number of columns from 63885 to 21299. This is useful for dimensionality reduction and to escape the dimentionality curse!

##### Check for non-zeros:
- Here is showing an array of the rows in the "power" column that contain a non-zero

In [48]:
TfidfVectorizer_1gram2grams["power"].to_numpy().nonzero()

(array([7771, 7772, 7773, 7774, 7775, 7776]),)

- Here we can check the non-zero value of the 7771th row in the "power" column (column 3):

In [49]:
TfidfVectorizer_1gram2grams.iloc[7771, 2]

0.38666084

- Here, we print the texts_tfidf variable, which was derived from the fit_transform of BoW CountVectorizer.
It prints the array as (row, column) and the value of that (row, column) that has a value (or weight), which is later made into an array (and then dataframe) with other missing values as zero:

In [50]:
print(texts_tfidf_1gram2grams[0])  # only printing first column so can see general idea

  (0, 12826)	0.46358538
  (0, 14319)	0.412182
  (0, 18309)	0.4501249
  (0, 9216)	0.25002253
  (0, 8419)	0.39497644
  (0, 12659)	0.12924181
  (0, 14318)	0.34863633
  (0, 17877)	0.12724431
  (0, 9135)	0.19905446

- Here, we can check the value of one of the (row, column)'s we found:

In [51]:
TfidfVectorizer_1gram2grams.iloc[0, 12826]

0.46358538

### TIPS!
---
- Remember! the goal is to have less columns than rows!
---
- Setting min_df or max_df to an integer means the number of times a word occurs. Whereas setting min_df or max_df to a decimal means the proprtion of times a word occurs.